/* Coolors Exported Palette - https://coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 */

/* CSS HEX */
--apricot: #ffcdb2ff;
--melon: #ffb4a2ff;
--pastel-pink: #e5989bff;
--english-lavender: #b5838dff;
--old-lavender: #6d6875ff;

/* CSS HSL */
--apricot: hsla(21, 100%, 85%, 1);
--melon: hsla(12, 100%, 82%, 1);
--pastel-pink: hsla(358, 60%, 75%, 1);
--english-lavender: hsla(348, 25%, 61%, 1);
--old-lavender: hsla(263, 6%, 43%, 1);

/* SCSS HEX */
$apricot: #ffcdb2ff;
$melon: #ffb4a2ff;
$pastel-pink: #e5989bff;
$english-lavender: #b5838dff;
$old-lavender: #6d6875ff;

/* SCSS HSL */
$apricot: hsla(21, 100%, 85%, 1);
$melon: hsla(12, 100%, 82%, 1);
$pastel-pink: hsla(358, 60%, 75%, 1);
$english-lavender: hsla(348, 25%, 61%, 1);
$old-lavender: hsla(263, 6%, 43%, 1);

/* SCSS RGB */
$apricot: rgba(255, 205, 178, 1);
$melon: rgba(255, 180, 162, 1);
$pastel-pink: rgba(229, 152, 155, 1);
$english-lavender: rgba(181, 131, 141, 1);
$old-lavender: rgba(109, 104, 117, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-right: linear-gradient(90deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-bottom: linear-gradient(180deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-left: linear-gradient(270deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-top-right: linear-gradient(45deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-bottom-right: linear-gradient(135deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-top-left: linear-gradient(225deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-bottom-left: linear-gradient(315deg, #ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);
$gradient-radial: radial-gradient(#ffcdb2ff, #ffb4a2ff, #e5989bff, #b5838dff, #6d6875ff);